# -----------------------------------------------------------------------------
# SkyDrive Local Environment Variable Template
# Copy this file to a file named '.env' in the same directory:
# cp .env.template .env
# 
# The '.env' file is ignored by git and can be modified to contain your secrets.
# -----------------------------------------------------------------------------

# --- DATABASE (Postgres) CONFIG ---
DB_URL=jdbc:postgresql://127.0.0.1:5433/skydrive
DB_USERNAME=postgres
DB_PASSWORD=postgres

# --- SECURITY CONFIG ---
# Generate a secure, random string in production (at least 256-bit key)
JWT_SECRET=ThisIsMySuperSecretKeyForskyDriveJwtAuthentication123456789

# --- MINIO OBJECT STORAGE CONFIG ---
MINIO_URL=http://localhost:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
